<!-- tab-map.html -->
<ion-view view-title="Lincoln GPS Map" id="tab-map" ng-init="vm.init()">
    <ion-content class="padding">
        <div class="flexbox-container">
            <!--<h2 class="text-center">Lincoln GPS Locator</h2>-->
            <div class="row directions">
                <div id="from-loc" class="col col-48">
                    <ion-search-select title="From" key-property="id" value-property="name" options="vm.selectNode.nodes" option-selected="vm.selectNode.fromNode" enable-map-select="true">
                        <label class="item item-input-inset search-select">
                            <div class="item-input-wrapper" >
                                <i class="icon ion-ios-search"></i>
                                <input type="text" ng-model="vm.selectNode.fromNode.name" placeholder="From" disabled>
                            </div>
                        </label>
                    </ion-search-select>
                    <location-info location="vm.selectNode.fromNode">
                        <above><i on-tap="vm.clearLocation('fromNode')" class="x-clear icon ion-close"></i></above>
                    </location-info>
                </div>
                <div class="col text-center">
                    <a class="swap button button-icon icon ion-arrow-swap" on-tap="vm.swap()" ng-class="{balanced: !!vm.selectNode.fromNode && !!vm.selectNode.toNode}" ng-disabled="!vm.selectNode.fromNode || !vm.selectNode.toNode"></a>
                </div>
                <div id="to-loc" class="col col-48">
                    <ion-search-select title="To" key-property="id" value-property="name" options="vm.selectNode.nodes" option-selected="vm.selectNode.toNode" enable-map-select="true">
                        <label class="item item-input-inset search-select">
                            <div class="item-input-wrapper">
                                <i class="icon ion-ios-search"></i>
                                <input type="text" ng-model="vm.selectNode.toNode.name" placeholder="To" disabled>
                            </div>
                        </label>
                    </ion-search-select>
                    <location-info location="vm.selectNode.toNode">
                        <above><i on-tap="vm.clearLocation('toNode')" class="x-clear icon ion-close"></i></above>
                    </location-info>
                </div>
            </div>

            <div id="svg">
                <!-- inject:map:svg --><!-- endinject -->
            </div>

            <div class="controls text-center">
                <button class="button button-balanced" ng-click="vm.zoomIn()">Zoom in</button>
                <button class="button button-positive" ng-click="vm.reset()">Reset</button>
                <button class="button button-assertive" ng-click="vm.zoomOut()">Zoom out</button>
            </div>
        </div> <!-- End flexbox-container div -->
    </ion-content>
</ion-view>
