/* directory.scss */

ion-content .scroll {
    height: 100%;
}

.filters-list .filters.row:last-of-type {
    padding-top: 1px;
    padding-bottom: 5px;
}

.filters-list .filters.row .col {
    padding: 0;
}

.filters-list .filters.row .col:last-of-type {
    padding-right: 1px;
}

// filter accordion styles (http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations)
$transition: all 0.8s ease !important;

.filter-toggle {
    cursor: pointer;
}

.filter-scroll {
    width: 100%;
}
.filter-scroll .filters-list .list {
    line-height: 38px;
    max-height: 300px;
    padding-top: 0;
    padding-bottom: 0;

    -webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

.filter-scroll .filters-list.ng-hide .list {
    line-height: 0px;
    max-height: 0px;
}

.filter-scroll .filters-list.ng-hide {
    display: inline !important;
}
/*----------------------------------------------------------------------------*/