/* map.scss */


/* SVG Map styling */

#svg #map #filtered line {
    stroke: #FF0000;
    stroke-width: 0.1;
}
#svg #map #filtered rect {
    fill: #777;
}

#svg #map .loc.filter-out,
#svg #map .loc.filter-out:hover {
    fill: url(#filtered);
    stroke: none;
    fill-opacity: 0.8;
    opacity: 0.8;
}

/*
#map {
    border:black;
}
*/

#svg #map .wall {
    fill: none;
    stroke-width: 3px;
    stroke: #000000;
}

#svg #map #outer-border.select-me {
    stroke: yellow;
    stroke-width: 5px;
}

#svg #map .red-line {
    stroke: #FF0000;
    stroke-width: 3px;
}

#svg #map .loc {
    stroke: #000000;
    stroke-width: 1px;
}

#svg #map .loc.hilite,
#svg #map .dep_list_colorbox.hilite,
#svg #map .loc:hover {
    cursor: auto;
    fill: #0000FF;
    fill: url(#highlighter);
    fill-opacity: 0.7;
    stroke-width: 5px;
    stroke: #FFFF00;
}

#svg #map #highlighter stop.outer {
    stop-color: #FFFF00;
}
#svg #map #highlighter stop.inner {
    stop-color: #0000FF;
}


#svg #map .loc.path {
    /*stroke: black;*/
    stroke: none;
    stroke-width: 1;
    fill: transparent;
}


/*#svg #map .loc.path:hover,*/
#svg #map .loc.path.hilite {
    fill: #0000FF;
    /*stroke: #0000FF;*/
    stroke: none;
    /*stroke-width: 5px;*/
    opacity: 0.7;
}

/* location specific fill colors */

#svg #map .acd {
    fill: #808080;
}

#svg #map .accounting {
    fill: #006600;
}

#svg #map .account_setup {
    fill: #FF8080;
}

#svg #map .asset_mgmt {
    fill: #90EE90;
}

#svg #map .branch_dev {
    fill: #FF0000;
}

#svg #map .branch_serv {
    fill: #33CC33;
}

#svg #map .broom {
    fill: #787878;
}

#svg #map .busi_dev {
    fill: #FF6600;
}

#svg #map .ceo {
    fill: #D3D3D3;
}

#svg #map .cfo {
    fill: #D3D3D3;
}

#svg #map .compli_licens {
    fill: #FFFF99;
}


/*#svg #map .copy_rm,
#svg #map .scan_rm */

#svg #map .copy_scan_rm {
    fill: #1AD1FF;
}

#svg #map .conf {
    fill: #ADD8E6;
}

#svg #map .doc_mgmt {
    fill: #CC5200;
}

#svg #map .elevator_exit {
    fill: #FF9988;
}

#svg #map .euc {
    fill: #5CD65C;
}

#svg #map .exec_suite {
    fill: #D3D3D3;
}

#svg #map .facilities {
    fill: #DB4DFF;
}

#svg #map .finance {
    fill: #00FF00;
}

#svg #map .food {
    fill: #D3D3D3;
}

#svg #map .hr {
    fill: #CCCC00;
}

#svg #map .im_r {
    fill: #FFC0CB;
}

#svg #map .isa {
    fill: #FFFF33;
}

#svg #map .isd {
    fill: #3377FF;
}

#svg #map .janitor {
    /*fill: #DB4DFF;*/
}

#svg #map .lobby {
    fill: #FF9988;
}

#svg #map .mrkt_comm {
    fill: #3399FF;
}

#svg #map .one_time_financials {
    fill: #F4A460;
}

#svg #map .ops {
    fill: #FF6347;
}

#svg #map .privacy_pod {
    fill: #D3D3D3;
}

#svg #map .prvd_mgmt {
    fill: #00FFFF;
}

#svg #map .quality_cntrl {
    fill: #EE82EE;
}

#svg #map .rdi {
    fill: #FF3333;
}

#svg #map .reception {
    fill: #595959;
}

#svg #map .retire_serv {
    fill: #990066;
}

#svg #map .stairs_exit {
    fill: #FF9988;
}

#svg #map .storage_rm {
    fill: #D3D3D3;
}

#svg #map .tpa {
    fill: #FF7F50;
}

#svg #map .vacant {
    fill: #898989;
}

#svg #map .vsa {
    fill: #FFFF00;
}

#svg #map .kitchen{

}

/* flex box container */
#svg {
    display: flex;
}

/* flex box item within container */
#map{
    flex-shrink: 100;
}

/* SVG Map Legend Styles */

#svg #map .dep_list .dep_list_text,
#svg #map .legend_title {
    font-family: Verdana;
    font-weight: 600;
}

#svg #map .legend_title {
    font-size: 100px;
    fill: #000000;
}

#svg #map .dep_list .dep_list_text {
    font-size: 40px;
    text-decoration: underline;
}

#svg #map .dep_list .dep_list_text.normal-text {
    fill: #000000;
    text-decoration: none;
}

#svg #map .dep_list .dep_list_colorbox {
    width: 30px;
    height: 30px;
    stroke-width: 2px;
    stroke: #000000;
}


/*----------------------------------------------------------------------------*/