/* map.scss */


#tab-map .swap {
    // font-size: 14px;
    // padding: 0;
    // line-height: 30%;
    top: -10px;
}

/* flex box container */
#tab-map .flexbox-container,
#tab-map .flexbox-container #svg {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;


    height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#tab-map ion-content .scroll {
    height: 100%;
}

#tab-map .flexbox-container .directions,
#tab-map .flexbox-container #svg {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
}

#tab-map .flexbox-container .controls {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;

    padding: 0;
    margin: 0;
}


/* SVG Map styling */

#svg #map #filtered line {
    stroke: #FF0000;
    stroke-width: 0.1;
}
#svg #map #filtered rect {
    fill: #777;
}

#svg #map .loc.filter-out,
#svg #map .loc.filter-out:hover {
    fill: url(#filtered);
    stroke: none;
    fill-opacity: 0.8;
    opacity: 0.8;
}

/*
#map {
    border:black;
}
*/

#svg #map .wall {
    fill: none;
    stroke-width: 3px;
    stroke: #000000;
}

#svg #map #outer-border.select-me {
    stroke: yellow;
    stroke-width: 5px;
}

#svg #map .red-line {
    stroke: #FF0000;
    stroke-width: 3px;
}

#svg #map .loc {
    stroke: #000000;
    stroke-width: 2px;
}

#svg #map .loc.hilite,
#svg #map .dep-list-colorbox.hilite,
#svg #map .loc:hover {
    cursor: auto;
    fill: #0000FF;
    fill: url(#highlighter);
    fill-opacity: 0.7;
    stroke-width: 5px;
    stroke: #FFFF00;
}

#svg #map #highlighter stop.outer {
    stop-color: #FFFF00;
}
#svg #map #highlighter stop.inner {
    stop-color: #0000FF;
}


#svg #map .loc.path {
    stroke: black;
    stroke-width: 1px;
    fill: darkgray;
}


#svg #map .loc.path:hover,
#svg #map .loc.path.hilite {
    fill: #0000FF;
    /*stroke: #0000FF;*/
    stroke: none;
    stroke-width: 5px;
    opacity: 0.7;
}

/* location specific fill color variables */

$accounting-color: #006600;
$account-setup-color: #FF8080;
$acd-color: #808080;
$asset-mgmt-color: #90EE90;
$branch-dev-color: #FF0000;
$branch-serv-color: #33CC33;
$broom-color: #787878;
$busi-dev-color: #FF6600;
$ceo-color: #D3D3D3;
$cfo-color: #D3D3D3;
$compli-licens-color: #FFFF99;
$copy-scan-rm-color: #1AD1FF;
$conf-color: #ADD8E6;
$doc-mgmt-color: #CC5200;
$elevator-exit-color: #FF9988;
$euc-color: #5CD65C;
$exec-suite-color: #D3D3D3;
$facilities-color: #DB4DFF;
$finance-color: #00FF00;
$food-color: #D3D3D3;
$hr-color: #CCCC00;
$im-r-color: #FFC0CB;
$isa-color: #FFFF33;
$isd-color: #3377FF;
$lobby-color: #FF9988;
$mrkt-comm-color: #3399FF;
$one-time-financials-color: #F4A460;
$ops-color: #FF6347;
$privacy-pod-color: #D3D3D3;
$prvd-mgmt-color: #00FFFF;
$quality-cntrl-color: #EE82EE;
$rdi-color: #FF3333;
$reception-color: #595959;
$retire-serv-color: #990066;
$stairs-exit-color: #FF9988;
$storage-rm-color: #D3D3D3;
$tpa-color: #FF7F50;
$vacant-color: #898989;
$vsa-color: #FFFF00;


/* set fill colors accordingly */
#svg #map .accounting {
    fill: $accounting-color;
}

#svg #map .account-setup {
    fill: $account-setup-color;
}

#svg #map .acd {
    fill: $acd-color;
}

#svg #map .asset-mgmt {
    fill: $asset-mgmt-color;
}

#svg #map .branch-dev {
    fill: $branch-dev-color;
}

#svg #map .branch-serv {
    fill: $branch-serv-color;
}

#svg #map .broom {
    fill: $broom-color;
}

#svg #map .busi-dev {
    fill: $busi-dev-color;
}

#svg #map .ceo {
    fill: $ceo-color;
}

#svg #map .cfo {
    fill: $cfo-color;
}

#svg #map .compli-licens {
    fill: $compli-licens-color;
}

#svg #map .copy-scan-rm {
    fill: $copy-scan-rm-color;
}

#svg #map .conf {
    fill: $conf-color;
}

#svg #map .doc-mgmt {
    fill: $doc-mgmt-color;
}

#svg #map .elevator-exit {
    fill: $elevator-exit-color;
}

#svg #map .euc {
    fill: $euc-color;
}

#svg #map .exec-suite {
    fill: $exec-suite-color;
}

#svg #map .facilities {
    fill: $facilities-color;
}

#svg #map .finance {
    fill: $finance-color;
}

#svg #map .food {
    fill: $food-color;
}

#svg #map .hr {
    fill: $hr-color;
}

#svg #map .im-r {
    fill: $im-r-color;
}

#svg #map .isa {
    fill: $isa-color;
}

#svg #map .isd {
    fill: $isd-color;
}

#svg #map .lobby {
    fill: $lobby-color;
}

#svg #map .mrkt-comm {
    fill: $mrkt-comm-color;
}

#svg #map .one-time-financials {
    fill: $one-time-financials-color;
}

#svg #map .ops {
    fill: $ops-color;
}

#svg #map .privacy-pod {
    fill: $privacy-pod-color;
}

#svg #map .prvd-mgmt {
    fill: $prvd-mgmt-color;
}

#svg #map .quality-cntrl {
    fill: $quality-cntrl-color;
}

#svg #map .rdi {
    fill: $rdi-color;
}

#svg #map .reception {
    fill: $reception-color;
}

#svg #map .retire-serv {
    fill: $retire-serv-color;
}

#svg #map .stairs-exit {
    fill: $stairs-exit-color;
}

#svg #map .storage-rm {
    fill: $storage-rm-color;
}

#svg #map .tpa {
    fill: $tpa-color;
}

#svg #map .vacant {
    fill: $vacant-color;
}

#svg #map .vsa {
    fill: $vsa-color;
}

/* SVG Map Legend Styles */

#svg #map .dep-list .dep-list-text,
#svg #map .legend-title {
    font-family: Verdana;
    font-weight: 600;
}

#svg #map .legend-title {
    font-size: 100px;
    fill: #000000;
}

#svg #map .dep-list .dep-list-text {
    font-size: 40px;
    text-decoration: underline;
}

#svg #map .dep-list .dep-list-text.normal-text {
    fill: #000000;
    text-decoration: none;
}

#svg #map .dep-list .dep-list-colorbox {
    width: 30px;
    height: 30px;
    stroke-width: 2px;
    stroke: #000000;
}
/*----------------------------------------------------------------------------*/