<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
 <widget id="com.lincoln.gps_waze" version="0.0.1" versionCode="10" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>lincoln-gps-waze</name>
    <description>
      Lincoln GPS Locator
    </description>
    <author email="mattvasseur@gmail.com">
      Matthew Vasseur
    </author>
    <author email="dtahvildaran.lincolninvestment@gmail.com">
      David Tahvildaran
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    
    <!-- Preferences -->
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />                          <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device" value="universal" />                       <!-- all: possible values handset, tablet,   or universal -->
    <preference name="fullscreen" value="true" />                               <!-- all: hides the status bar at the top of the screen -->
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="SplashScreenDelay" value="2000"/>
    <preference name="FadeSplashScreenDuration" value="2000"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="android-installLocation"    value="auto" />               <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    
    <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
      
    <!-- Define app splash screen for android -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"   gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"   gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"   gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"  gap:platform="android" gap:qualifier="port-xhdpi" />
    
  
  </widget>