/* layout.scss */

.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

/* for close icon <i> tags */

.x-clear {
    cursor: pointer;
    float: right;
    padding-right: 5px;
}

/*----------------------------------------------------------------------------*/