/* layout.scss */

.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}


/* general css */

.col-offset-16,
.col-offset-17 {
    margin-left: 16.666%;
}


/* for close icon <i> tags */

.x-clear {
    cursor: pointer;
    float: right;
    padding-right: 5px;
}



/*----------------------------------------------------------------------------*/