/* Search Select Styles */

ion-search-select label.search-select {
    border: none;
    padding: 0px;
    cursor: pointer;
}

ion-modal-view.ion-search-select .select-on-map {
    font-weight: 600;
    border-bottom: 2px solid black;
}