<!-- tab-directory.html (adapted from https://codepen.io/anon/pen/VjLYjW) -->

<ion-view view-title="Lincoln Employee Directory">
    <ion-content class="padding">
        <!--<h2 class="text-center">Lincoln Employee Directory</h2>-->

        <!--Filter By Department-->
        <ion-item class="item-stable" ng-click="vm.toggleFilters('d')" ng-class="{active: vm.filters.show.d}">
            <i class="icon" ng-class="vm.filters.show.d ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; Filter by Department
        </ion-item>
        <ion-scroll direction="y" class="filter-scroll">
            <ion-list class="filters-list ng-hide" ng-show="vm.filters.show.d">
                <div class="filters row responsive-sm" ng-repeat="filter in vm.filters.d" ng-if="$index % 4 === 0">
                    <div class="col col-25">
                        <ion-checkbox ng-model="filter.show">
                            {{filter.name}}
                        </ion-checkbox>
                    </div>
                    <div class="col col-25" ng-if="vm.filters.d[$index+1]">
                        <ion-checkbox ng-model="vm.filters.d[$index+1].show">
                            {{vm.filters.d[$index+1].name}}
                        </ion-checkbox>
                    </div>
                    <div class="col col-25" ng-if="vm.filters.d[$index+2]">
                        <ion-checkbox ng-model="vm.filters.d[$index+2].show">
                            {{vm.filters.d[$index+2].name}}
                        </ion-checkbox>
                    </div>
                    <div class="col col-25" ng-if="vm.filters.d[$index+3]">
                        <ion-checkbox ng-model="vm.filters.d[$index+3].show">
                            {{vm.filters.d[$index+3].name}}
                        </ion-checkbox>
                    </div>
                </div>
            </ion-list>
        </ion-scroll>

        <!--Filter by Title-->
        <ion-item class="item-stable" ng-click="vm.toggleFilters('t')" ng-class="{active: vm.filters.show.t}">
            <i class="icon" ng-class="vm.filters.show.t ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp; Filter by Title
        </ion-item>
        <ion-scroll direction="y" class="filter-scroll">
            <ion-list class="filters-list ng-hide" ng-show="vm.filters.show.t">
                <div class="filters row responsive-sm" ng-repeat="filter in vm.filters.t" ng-if="$index % 4 === 0">
                    <div class="col col-25">
                        <ion-checkbox ng-model="filter.show">
                            {{filter.name}}
                        </ion-checkbox>
                    </div>
                    <div class="col col-25" ng-if="vm.filters.t[$index+1]">
                        <ion-checkbox ng-model="vm.filters.t[$index+1].show">
                            {{vm.filters.t[$index+1].name}}
                        </ion-checkbox>
                    </div>
                    <div class="col col-25" ng-if="vm.filters.t[$index+2]">
                        <ion-checkbox ng-model="vm.filters.t[$index+2].show">
                            {{vm.filters.t[$index+2].name}}
                        </ion-checkbox>
                    </div>
                    <div class="col col-25" ng-if="vm.filters.t[$index+3]">
                        <ion-checkbox ng-model="vm.filters.t[$index+3].show">
                            {{vm.filters.t[$index+3].name}}
                        </ion-checkbox>
                    </div>
                </div>
            </ion-list>
        </ion-scroll>

        <div class="item">
            <ion-search-select title="Search by Name" key-property="id" value-property="name" options="vm.selectEmployee.employees" option-selected="vm.selectEmployee.employee" filters="vm.filters">
                <label class="item item-input-inset search-select">
                    <div class="item-input-wrapper">
                        <i class="icon ion-ios-search"></i>
                        <input type="text" ng-model="vm.selectEmployee.employee.name" placeholder="Select an Employee" disabled>
                    </div>
                </label>
            </ion-search-select>
        </div>

        <location-info location="vm.selectEmployee.employee">
            <above><i on-tap="vm.clearEmployee()" class="x-clear icon ion-close"></i></above>
            <below><p class="text-center"><a href="#" ng-click="vm.findOnMap(vm.selectEmployee.employee)"><strong>Find on Map</strong></a></p></below>
        </location-info>

    </ion-content>
</ion-view>
>
