/* style.css */


/* general css */

.col-offset-16,
.col-offset-17 {
    margin-left: 16.666%;
}


/* Search Select Styles */

ion-search-select label.search-select {
    border: none;
    padding: 0px;
    cursor: pointer;
}

ion-modal-view.ion-search-select .select-on-map {
    font-weight: 600;
    border-bottom: 2px solid black;
}


/* for close icon <i> tags */

.x-clear {
    cursor: pointer;
    float: right;
    padding-right: 5px;
}


/* Login Modal Styles */

#login-modal .has-error .input-label {
    color: #ef473a;
    font-weight: 600;
}

#login-modal label.has-error {
    border-bottom: solid 2px;
    border-color: #ef473a;
    -color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* old svg map styling */

/*#svg {
    width: 85%;
    border: 2px solid black;
    margin: 10px auto;
}

#svg #map {
    min-width: inherit;
    max-width: inherit;
    height: 99.5%;
    width: 99.5%;
    min-height: inherit;
    max-height: inherit;
}*/



/*#svg #map g.non-walls .hilite {*/
/*    fill: blue;*/
/*}*/


/*#svg #map g.non-walls .hilite:not(.path) {
    stroke: blue;
    stroke-width: 2px;
}*/





/*----------------------------------------------------------------------------*/