/* style.css */
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


/* general css */

.col-offset-16,
.col-offset-17 {
    margin-left: 16.666%;
}


/* Search Select */

ion-search-select label.search-select {
    border: none;
    padding: 0px;
    cursor: pointer;
}


/* for close icon <i> tags */

.x-clear {
    cursor: pointer;
    float: right;
    padding-right: 5px;
}

/* Search Select Styles */
ion-modal-view.ion-search-select .select-on-map {
    font-weight: 600;
    border-bottom: 2px solid black;
}

/* Login Modal Styles */

#login-modal .has-error .input-label {
    color: #ef473a;
    font-weight: 600;
}

#login-modal label.has-error {
    border-bottom: solid 2px;
    border-color: #ef473a;
    -color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


/* SVG Map styling */

/*#svg {
    width: 85%;
    border: 2px solid black;
    margin: 10px auto;
}

#svg #map {
    min-width: inherit;
    max-width: inherit;
    height: 99.5%;
    width: 99.5%;
    min-height: inherit;
    max-height: inherit;
}*/

#svg #map #outer-border {
    fill: none;
}

#svg #map #outer-border.select-me {
    stroke: yellow;
    stroke-width: 2px;
    z-index: 1000;
}

#svg #map g.non-walls .hilite {
    fill: blue;
}

/*#svg #map g.non-walls .hilite:not(.path) {
    stroke: blue;
    stroke-width: 2px;
}*/

#svg #map .filter-out {
    opacity: 0.3;
    fill: black;
}

.panel {
    padding: 5px;
    text-align: center;
    background-colo: #e5eecc;
    border: solid 1px black;
}

svg .wall {
    position: relative;
    fill: white;
    border-color: black;
    stroke-width: 2;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.branch_dev {
    position: relative;
    top: 0px;
    left: 0px;
    border-width: 5px;
    fill: red;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
    z-index: 15;
}

svg .desk.cubicle.branch_dev {
    position: relative;
    fill: red;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.im_r {
    position: relative;
    fill: pink;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
    z-index: 3;
}

svg .desk.cubicle.im_r {
    position: relative;
    fill: pink;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.acd {
    position: relative;
    fill: gray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.cubicle.acd {
    position: relative;
    fill: gray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.cubicle.vsa {
    position: relative;
    fill: yellow;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.finance {
    position: relative;
    fill: #00FF00;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.cubicle.finance {
    position: relative;
    fill: #00FF00;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.accounting {
    position: relative;
    fill: #006600;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.cubicle.accounting {
    position: relative;
    fill: #006600;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.conf {
    position: relative;
    fill: lightblue;
    border-color: black;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.busi_dev,
svg .desk.cubicle.busi_dev {
    position: relative;
    fill: #FF6600;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.ops,
svg .desk.cubicle.ops {
    position: relative;
    fill: tomato;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .wbroom {
    position: relative;
    fill: #787878;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .break_area {
    position: relative;
    fill: #FF6633;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.cfo {
    position: relative;
    fill: gray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .desk.office.ceo {
    position: relative;
    fill: gray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .block {
    position: relative;
    fill: brown;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .copy_rm {
    position: relative;
    fill: orange;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .mrkt_comm {
    position: relative;
    fill: #3399FF;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .prvd_mgmt {
    position: relative;
    fill: #00FFFF;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .tpa {
    position: relative;
    fill: coral;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .isa {
    position: relative;
    fill: #FFFF33;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .retire_serv {
    position: relative;
    fill: #990066;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .quality_cntrl {
    position: relative;
    fill: violet;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .asset_mgmt {
    position: relative;
    fill: lightgreen;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .one_time_financials {
    position: relative;
    fill: sandybrown;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .hr {
    position: relative;
    fill: #cccc00;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .account_setup {
    position: relative;
    fill: #ff8080;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .branch_serv {
    position: relative;
    fill: #33cc33;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .doc_mgmt {
    position: relative;
    fill: #cc5200;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .facilities {
    position: relative;
    fill: #db4dff;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .euc {
    position: relative;
    fill: #5cd65c;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .compli_licens {
    position: relative;
    fill: #ffff99;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .isd {
    position: relative;
    fill: #3377ff;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .rdi {
    position: relative;
    fill: #ff3333;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .exec_suite {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .kitchen {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .break_area {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .broom {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .lobby {
    position: relative;
    fill: #ff9988;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .scanning {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .stairs_exit {
    position: relative;
    fill: #ff9988;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .storage_rm {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .privacy_pod {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .reception {
    position: relative;
    fill: #595959;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .vacant {
    position: relative;
    fill: #898989;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .path {
    position: relative;
    top: 0px;
    left: 0px;
    fill: white;
    border: none;
    z-index: -20;
}

svg .path:hover {
    position: relative;
    z-index: -10;
    fill: blue;
}

svg .desk.office:hover,
svg .desk.cubicle:hover,
svg .wbroom:hover,
svg .mbroom:hover,
svg .break_area:hover,
svg .copy_rm:hover,
svg .mrkt_comm:hover,
svg .prvf_mgmt:hover,
svg .exec_suite:hover,
svg .lobby:hover,
svg .reception:hover,
svg .conf:hover,
svg .broom:hover,
svg .stairs_exit:hover,
svg .break_area:hover,
svg .storage_rm:hover,
svg .scanning:hover,
svg .privacy_pod:hover,
svg .kitchen:hover {
    pointer-events: visibleFill;
    fill: blue!important;
    stroke-width: 2px;
    border: 3px solid yellow;
}

.locator {
    opacity: 0;
}

svg .block:hover {
    position: relative;
    fill: blue;
}

svg .locator {
    opacity: 1;
}

svg .legend_title{
    position: relative;
    fill: white;
    border-color:black;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_branch_dev{
    position: relative;
    fill: red;
    border-color:black;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_imr{
    position: relative;
    fill: pink;
    border-color:black;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .text_list_imr{
    width:'100px';
    word-warp: break-word;
}

svg .list_busi_dev{
    position: relative;
    fill: #FF6600;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_finance{
    position: relative;
    fill: #00FF00;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_acd{
    position: relative;
    fill: gray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_vsa {
    position: relative;
    fill: yellow;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_accounting {
    position: relative;
    fill: #006600;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_operations {
    position: relative;
    fill: tomato;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_tpa {
    position: relative;
    fill: coral;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_mrkt_comm {
    position: relative;
    fill: #3399FF;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_prvd_mgmt {
    position: relative;
    fill: #00FFFF;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_isa {
    position: relative;
    fill: #FFFF33;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_retire_serv {
    position: relative;
    fill: #990066;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_quality_cntrl {
    position: relative;
    fill: violet;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_asset_mgmt {
    position: relative;
    fill: lightgreen;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_one_time_financials {
    position: relative;
    fill: sandybrown;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_conf {
    position: relative;
    fill: lightblue;
    border-color: black;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_hr {
    position: relative;
    fill: #cccc00;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_doc_mgmt {
    position: relative;
    fill: #cc5200;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_branch_serv {
    position: relative;
    fill: #33cc33;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_account_setup {
    position: relative;
    fill: #ff8080;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_compli_licens {
    position: relative;
    fill: #ffff99;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_euc {
    position: relative;
    fill: #5cd65c;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_rdi {
    position: relative;
    fill: #ff3333;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_isd {
    position: relative;
    fill: #3377ff;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_break_area {
    position: relative;
    fill: #FF6633;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_kitchen {
    position: relative;
    fill: lightgray;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_stairs_exit {
    position: relative;
    fill: #ff9988;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_elevator_exit {
    position: relative;
    fill: #ff9988;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_reception {
    position: relative;
    fill: #595959;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

svg .list_reception:hover{
    position: relative;
    fill: blue;
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}